<% layout('boilerplate/boilerplate') %>


    <!-- <style>
        .home {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-image: url('https://images.unsplash.com/photo-1537724326059-2ea20251b9c8?q=80&w=2076&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
            background-size: cover;
            background-position: center;
        }
    </style> -->

    <img src="/welcome.png" class="img-fluid text-center" style="margin-left: 10rem;">
    <div class="home">
        <div class="text-center">
            <h2 class="my-3">Join us and get a free credit of 100TK</h2>
            <a href="/register" class="btn btn-primary">Register</a>
        </div>
    </div>